@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50: #f8fafc;
  --brand-100: #f1f5f9;
  --brand-300: #93c5fd;
  --brand-400: #60a5fa;
  --brand-500: #3b82f6;
  --brand-600: #2563eb;
  --brand-900: #0f172a;
}
